*{
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;

}

form {

  /* min-height: 100%; */
  /* height: 100%; */
  color: white;
}

h3 {
 
  font-size: 3rem;
}

.texto-colorido {
 
  padding-top: 5rem;
  padding-left: 8rem;
  align-content: start;
  color: #43cfeb;
  font-size: 1rem;
}

.frase {
 
  color: white;
}

.home {
  margin-left: 6rem;
  align-content: start;
  /* height: 10vh; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: white;
  font-size: 5rem;
}

.imagem {
  height: 600px;
  width: 300px;
  position: relative;
  float: right;
  margin-right: 15rem;
  padding-bottom: 2rem;
}

.download {
  height: 60px;
  width: 200px;
  margin: 2rem;
}